---
import AuthorAvatar from '@components/AuthorAvatar.astro';
import MainLayout from '@layouts/MainLayout.astro';
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';
export const getStaticPaths = (async () => {
  const blogs = await getCollection('blog');
  const paths = blogs.map(post => ({
    params: { slug: post.slug },
    props: { post: post }
  }));
  return paths;
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const { post } = Astro.props;
const { title, date, image } = post.data;

const { Content, headings } = await post.render();

const author = await getEntry('author', post.data.author.id);
---

<MainLayout title={title}>
  <section class="wrapper post">
    <header class="post__header">
      <button onclick="history.back()"> go back</button>
      <AuthorAvatar author={author} date={date} post={post} />
      <Image
        class="post__image"
        src={image}
        alt={title}
        width={600}
        height={300}
        transition:name={`${post.slug}-image`}
      />
    </header>
    <ol>
      {
        headings.map((heading, index) => (
          <li>
            <a href={`#${heading.slug}`}>
              {index + 1}
              {heading.text}
            </a>
          </li>
        ))
      }
    </ol>

    <Content />
  </section>
</MainLayout>

<style>
  .post__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .post__image {
    border-radius: 0.3rem;
  }
</style>
